.badge {
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);
  display: block;
  padding: 2px;
  width: 25px;
  height: 25px;
  line-height: 21px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: var(--color-dark);
  background-color: var(--color-light-grey);
  border-radius: 3px;
  z-index: 10;
}

.inline {
  position: static;
  display: inline-block;
  margin-left: 10px;
  transform: none;
  line-height: normal;
}

.text {
  width: auto;
  height: auto;
}

.circle {
  border-radius: 50%;
}

.warning,
.alert,
.success,
.info {
  color: var(--color-white);
  text-transform: none;
}

.warning {
  background-color: var(--color-warning);
}

.alert {
  background-color: var(--color-alert);
}

.success {
  background-color: var(--color-success);
}

.info {
  background-color: var(--color-info);
}

.outer,
.outer.warning,
.outer.alert,
.outer.success,
.outer.info {
  background-color: var(--color-white);
}

.outer {
  color: var(--color-grey);
  border: 2px solid var(--color-light-grey);
}

.outer.warning {
  color: var(--color-warning);
  border-color: var(--color-warning);
}

.outer.alert {
  color: var(--color-alert);
  border-color: var(--color-alert);
}

.outer.success {
  color: var(--color-success);
  border-color: var(--color-success);
}

.outer.info {
  color: var(--color-info);
  border-color: var(--color-info);
}

.btn {
  min-width: 50px;
  width: auto;
  margin-right: 30px;
}
