:root {
  --color-white: hsl(0, 0%, 100%);

  --color-default: hsl(200, 0%, 60%);
  --color-primary: hsl(210, 100%, 40%);
  --color-secondary: hsl(345, 70%, 40%);

	--hover-default:hsl(200, 10%, 70%);
	--hover-primary:hsl(210, 100%, 50%);
	--hover-secondary: hsl(345, 70%, 50%);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  margin-right: 5px;
  color: var(--color-white);
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
	letter-spacing: 0.3px;
	word-spacing: 1px;
  cursor: pointer;
	transition: background-color 200ms ease-in;
}

.default {
  background-color: var(--color-default);
}
.default:hover {
  background-color: var(--hover-default);
}

.primary {
  background-color: var(--color-primary);
}
.primary:hover {
  background-color: var(--hover-primary);
}

.secondary {
  background-color: var(--color-secondary);
}
.secondary:hover {
  background-color: var(--hover-secondary);
}

