.container {
	min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.main-box {
  padding: 25px 50px;
  position: relative;
}

.logo-box {
  text-align: center;
}

.logo {
	display: inline-block;
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
	background-color: hsl(145, 50%, 50%);
	box-shadow: 1px 1px 10px #777;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
}

.nav-list li {
  display: flex;
  flex: 1 0 100%;
  align-items: center;
}

.nav-list a {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 15px 0 15px 30px;
  color: #fff;
	font-size: 1.2rem;
  font-weight: 600;
  border-left: 3px solid transparent;
	transition: all 0.5s ease-out ;
}

.nav-list a:hover {
	text-decoration: underline;
}
.nav-list a.active {
  background-color: hsla(0, 0%, 0%, 0.2);
  border-color: hsl(0, 0%, 90%);
}