:root {
  --color-white: hsl(0, 0%, 100%);
	--color-dark: hsl(0, 0%, 0%);
	--bg-grey: hsl(0, 0%, 85%);

	--color-warning: hsl(5, 70%, 60%);
	--color-alert: hsl(47, 80%, 56%);
	--color-success: hsl(120, 80%, 40%);
	--color-info: hsl(195, 100%, 60%);

  --color-default: hsl(0, 0%, 55%);
  --color-primary: hsl(210, 100%, 40%);
  --color-secondary: hsl(345, 70%, 40%);

  --hover-default: hsl(0, 0%, 70%);
  --hover-primary: hsl(210, 100%, 50%);
  --hover-secondary: hsl(345, 70%, 50%);

  --active-default: hsl(0, 0%, 45%);
  --active-primary: hsl(210, 100%, 30%);
  --active-secondary: hsl(345, 80%, 30%);

  --disabled-default: hsl(0, 0%, 80%);
  --disabled-primary: hsl(210, 100%, 80%);
  --disabled-secondary: hsl(345, 70%, 70%);

	--shadow-active: 0 0 2px 1px;
	--transition-200ms: all 200ms ease-in;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body * {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: 1px solid #c0c0c0;
  padding: 15px 0 1px;
}

ul,
ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
